@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pr-color : #9324e5;
    --sc-color: #d46bd3;
    --tr-color: #c4b1f1;
    --qt-color: #5615a0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 5px solid var(--qt-color);
    width: 100vw;
}

#nav-list {
    margin: 3vh 0px;
    width: 100vw;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#logo-dev {
    height: 90%;
}

.nav-item {
    height: 5vh;
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--qt-color);
}

.nav-link:hover {
    text-decoration: underline 3px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

.secao {
    width: 90vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao {
    color: var(--qt-color);
}